@use './reset' as r;
@use 'typography' as t;
@use './views/user' as *;
@use './views/shared' as *;
@use './views/game' as *;

html {
    display: flex;
    height: 100%;
    scroll-behavior: smooth;
}

.body {
    background-color: c.$white-main;
    font-family: 'Violet Sans';
    overflow-x: hidden;
}

h1 {
    margin-bottom: v.$base-distance;
    line-height: 1em;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

.main {
    min-width: 0;
    @include m.padding;
}

.main-sidebar-wrapper {
    display: flex;
    width: 100%;
    margin-top: v.$nav-height;
}
