@use './../../mixins' as m;
@use './../../abstracts/colors' as c;
@use './../../abstracts/variables' as v;

.game-list {
    width: max-content;
    max-width: 1000px;
    &-table-wrapper {
        display: flex;
        flex-direction: column;
        margin-block: v.$base-distance;
        overflow-x: auto;
        max-width: max-content;
        border: 1px solid c.$navy-lighter;
        &:last-child {
            margin-bottom: 0;
        }
        ::-webkit-scrollbar-horizontal {
            position: sticky;
            top: 0;
        }
        color: #000;
    }
    tr {
        width: 100%;
        border-top: 1px solid c.$navy-lighter;

         &:first-child {
            border-top: 0;
         }
    }
    th,
    td {
        border-right: 1px solid c.$navy-lighter;
        text-overflow: ellipsis;
        white-space: nowrap;
        @include m.padding(1, 0.5);
        &:last-child {
            border-right: 0;
        }
        &[data-column="nr"]{
            text-align: center;
        }
        &[data-column="title"] {
            width: 100%;
        }
    }
    tbody {
        border-top: 1px solid c.$navy-lighter
    }
    &__game {
        &-link {
            color: c.$navy-lighter;
            @include m.main-transition;
        }
    }
}

.games {
    &-link {
        display: inline-block;
        color: c.$white-main !important;
        background-color: c.$navy-main;
        margin-bottom: v.$base-distance;
        @include m.padding;
        @include m.main-transition;
    }
    &-stats {
        display: flex;
        flex-direction: column;
        margin-bottom: v.$base-distance;
        @include m.gap;
        ul {
            display: flex;
            flex-wrap: wrap;
            @include m.gap;
        }
        &__stat {
            display: inline-block;
            border: 1px solid c.$navy-light;
            @include m.padding;
            &-highlight {
                color: c.$navy-light;
            }
        }
    }

}
