@use './../../abstracts/colors' as c;
@use './../../mixins' as m;

.nav {
    position: sticky;
    top: 0;
    width: 100%;
    color: c.$white-navy;
    background-color: c.$navy-main;
    border-bottom: 1px c.$navy-lighter;
    &__link {
        display: inline-block;
        @include m.padding;
        @include m.main-transition;
    }
}
