@use './../../abstracts/colors' as c;
@use './../../mixins' as m;

.sidebar {
    background-color: c.$navy-main;
    color: c.$white-main;
    max-width: 33%;
    &__link {
        display: block;
        @include m.padding;
        @include m.main-transition;
    }
}
